@font-face{
    font-family: 'Monument Extended';
    src: url('/fonts/monumentextended-regular-webfont.woff') format('woff'),
         url('/fonts/monumentextended-regular-webfont.woff2') format('woff2'),
         url('/fonts/monumentextended-regular-.otf') format('opentype');




html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
      font-family:"Monument Extended";
      background: black;
}
